[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = none
